@tailwind base;
@tailwind components;
@tailwind utilities;

.section-center {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-start {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  font-family: omyu_pretty;
}
.image-select-size {
  width: 12rem;
  height: 8rem;
  margin: 8px;
}

/* 폰트 */
@font-face {
  font-family: omyu_pretty;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ELAND_Choice_M;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
